
#__next {
    background-color: #c000bc1f;    
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 138px);
    overflow: auto;
}

.pageHeader {
    
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 9px #00000087;
}
.shops {
    background-image: url(/images/photos/topo_contato.jpg);
}
.food {
    background-image: url(/images/photos/topo_contato.jpg);
}
.cinema {
    background-image: url(/images/photos/topo_contato.jpg);
}

.pageHeader .title {
    display: flex;
    justify-content: center;
    background-color: #A100F582;
    width: 250px;
    padding-right: 30px;
    border-radius: 0 0px 100px 0;
}

.pageHeader .title h1 {
    color: white;
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    background-color: #8f2dff2e;
}
.about h2 {
    margin: 10px auto;
    width: 95%;
    padding-left: 10px;
    border-radius: 8px 0;
    border-left: 5px solid var(--main);
}
.about p {
    padding: 5px 20px;
    text-align: center;
    font-size: 1.2em;
}
.about p strong {
    color: var(--main);
}

.storie {
    width: 80%;
    margin: 10px auto;
}
.photo {
    width: 90%;
    margin: 10px auto;
    border-radius: 12px;
}

.about ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0;
}
.about ul li {
    margin: 10px;
    font-size: 1.2em;
    display: list-item;
    list-style: inside;
}

.highlights {
    width: 45%;
    max-width: 200px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    background-color: #edcffd;
    border-radius: 20px 0 20px 0;
    justify-content: center;
    border: 1px solid #a715f478;
    box-shadow: 0 0 10px #a600ffa1;
}
.highlights h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
}
.highlights p {
    margin: 0;
    padding: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}



@media (min-width: 768px) {

   
}