#__next {
    flex-direction: column;
}


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
}

.show-desktop {
    display: none;
}

@media (min-width: 576px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    .show-desktop {
        display: flex;
    }
    .hide-desktop {
        display: none;
    }
}
