#footer {
    width: 100%;
    min-width: 320px;
    position: relative;
    background-color: var(--bg-footer);
    color: var(--font-footer);
    flex-direction: column;
    padding: 2em;
    align-items: center;
}

#footer button {
    position: absolute;
    right: 20px;
    background: var(--light);
    color: var(--dark);
    box-shadow: var(--black) 0 3px 6px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    outline: none;
    justify-content: center;
    align-items: center;
    top: -25px;
    z-index: 1;
    cursor: pointer;
}

#footer button:hover {
    background-color: var(--white);
}
#footer button img{
    width: 75%;
}
#footer .columns {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#footer .links {
    display: none;
}

#footer ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 300px;
}

#footer ul li {
    list-style: none;
    padding: .5em 0;
    font-size: 16px;
}

#footer ul li.title {
    color: var(--second);
    font-weight: bold;
    font-size: 20px;
}

#footer ul li.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#footer ul li.contact p {
    margin: 0;
}

#footer .social {
    align-items: center;
    justify-content: center;
}

#footer a {
    text-decoration: none;
    color: var(--a-footer);
    font-weight: bold;
}

#footer a:hover,
#footer a:active {
    color: white;
}


#footer .social a {
    margin-right: 1em;
}

#footer .social img {
    height: 40px;
}
#footer .social img:hover,
#footer .social img:active {
    filter: drop-shadow(2px 4px 6px black);
}

#footer .logo {
    width: 250px;
    margin: 2em 0;
}

#footer p {
    text-align: center;
    font-size: 18px;
}

@media (min-width: 1200px) {
    #footer {
        padding-bottom: 0;
    }
    #footer .columns {
        flex-direction: row;
        justify-content: space-between;
    }
    #footer .links {
        display: flex;
    }
    #footer li {
        font-size: 14px;
        font-weight: 300;
    }
    #footer .links a {
        color: var(--white50);
        text-decoration: none;
    }
    #footer .links a:hover {
        color: var(--white);
    }
    #footer p {
        font-size: 14px;
    }
}

@media (prefers-color-scheme: dark) {
    #footer, #footer .links a {
        color: var(--black50);
    }
    #footer .links a:hover {
        color: var(--black);
    }
    #footer button {
        background: var(--black50);
        color: var(--light);
        box-shadow: var(--white) 0 3px 6px;
    }
}