#header {
    width: 100%;
    height: 95px;
    background-color: #a100f530;
    position: relative;
    z-index: 3;
}

#header .menu {
    transition: right .5s ease-in-out;
    width: 300px;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 4;
    flex-direction: column;
    justify-content: space-between;
}

#header .menu .btn-register {
    background-color: var(--main);
    color: var(--white);
    margin: 1em;
    border-radius: 12px;
    justify-content: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1em 0;
}

#header .menu .btn-register:hover {
    background-color: var(--second);
}


#header .menu .content {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 95px;
}

#header .menu ul {
    /* margin: 0;
    margin-top: 208px; */
    padding: 0;
    width: 100%;
    flex-direction: column;
}

#header .menu ul li {
    padding: 14px 0;
    width: 100%;
    list-style: none;
    justify-content: center;
}

#header .menu ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--black75);
    border-bottom: 2px solid #0000;
}

#header .menu ul li a:hover,
#header .menu ul li a:active {
    text-decoration: none;
    border-bottom: 2px solid var(--second);
    color: var(--main);
}

#header button {
    background: none;
    border: none;
    padding: 13px;
    align-self: center;
    outline: none;
}

#btn-open, #btn-close {
    position: absolute;
    right: 0;
}

#header button#btn-close {
    display: none;
}

#header button#btn-close.open-menu {
    display: block;
    z-index: 5;
}

#header #logo {
    position: absolute;
    width: 250px;
    transition: all 1s ease-in-out;
    top: 11px;
    right: calc(100vw - 255px);
    z-index: 5;
}

#header .open-menu {
    overflow: auto;
    right: 0;
}

#overlay {
    transition: all .5s ease-in-out;
    display: none;
}
#overlay.open-menu  {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black75);
    z-index: 4;
    display: flex;
}

.open-menu #header .menu {
    right: 0px;
}

#header #logo.open-menu {
    left: initial;
    right: 60px;
    width: 200px;
    top: 20px;
}

@media (min-width: 340px) {

    #header #logo {
        width: 250px;
        right: calc(100vw - 270px);
    }

}

@media (min-width: 576px) {

    #header #logo {
        width: 290px;
        top: 2px;
        right: calc(100vw - 320px);
    }

}

@media (min-width: 992px) {
    #header {
        height: 100px;
    }
    
    #btn-open, #btn-close {
        display: none;
    }
    #header .menu {
        width: 100%;
        height: initial;
        background-color: initial;
        position: static;
        right: initial;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 200px;
    }

    #header .menu .content {
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        margin-top: initial;
    }

    #header .menu ul {
        margin: 0;
        margin-top: 0;
        padding: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    #header .menu ul li {
        width: initial;
        padding: 0 15px;
    }

    #header .menu ul li a {
        font-size: 1.25em;
    }
    #header .menu ul li a:hover {
        color: var(--black);
    }
    #header .menu .btn-register {
        margin: 1.55em;
        padding: 0px 30px;
    }
}

@media (min-width: 1200px) {
    #header #logo {
        transition: none;
    }   

    #header .menu ul li {
        padding: 0 25px;
    }
}