
.pageHeader {
    
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 9px #00000087;
}
.shops {
    background-image: url(/images/photos/topo_contato.jpg);
}
.food {
    background-image: url(/images/photos/topo_contato.jpg);
}
.cinema {
    background-image: url(/images/photos/topo_contato.jpg);
}

.pageHeader .title {
    display: flex;
    justify-content: center;
    background-color: #A100F582;
    width: 250px;
    padding-right: 30px;
    border-radius: 0 0px 100px 0;
}

.pageHeader .title h1 {
    color: white;
}


.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border: 1px solid #80808042;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    transition: all .1s ease-in-out;
}

.shop {
    position: relative;
    width: 90%;
    height: 90%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center; 
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 95%;
    border-radius: 15px;
    padding: 40px 15px 20px 15px;
    border-left: 1px solid var(--second);
}

.content li {
    margin: 5px 0;
}
.content li a {
    display: flex;
    align-items: center;
    text-decoration: none;    
}
.content li a p {
    color:black;
    border-bottom: 2px solid #0000;
    
}
.content li a p:hover,
.content li a p:active {
    color: var(--main);
    border-bottom: 2px solid var(--second);
}

.content li img {
    width: 30px;
}
.content li a img:hover,
.content li a img:active {
    transform: scale(1.2)
}

.content li img.shopPhoto {
    width: 100%;
    margin: auto;
    border-radius: 12px;
}

.content li p {
    margin: 5px;
}
.content li.title {
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 8px 0;
    border-left: 5px solid var(--main);
}
.content li h3 {
    color: var(--second);
    font-size: 1.6em;
    margin: auto;
}
.content .liSocial {
    display: flex;
    flex-direction: column; 
    margin-top: 25px;
}
.content .liSocial > img {
    width: 50%;
    margin-bottom: -25px;
}

.content .social {
    background-color: #edcffd;
    border-radius: 20px 0 20px 0;
    justify-content: center;
    height: 60px;
    border: 1px solid #a715f478;
    box-shadow: 0 0 10px #a600ffa1;
}

.content .liSocial .social img {
    width: 45px;
    margin: 0 10px;
}
.shopName {
    position: absolute;
    margin: 0;
    top: 0px;
    left: 0px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 4px 15px;
    background-color: var(--second);
    border-radius: 15px 0 15px 0;
    box-shadow: 0 0 5px #000000c2;
}

.description {
    margin: 5px;
    font-size: 1.2em;
}

