
#__next {
    background-color: #c000bc1f;    
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 138px);
    overflow: auto;
}

.pageHeader {
    
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 9px #00000087;
}
.shops {
    background-image: url(/images/photos/topo_contato.jpg);
}
.food {
    background-image: url(/images/photos/topo_contato.jpg);
}
.cinema {
    background-image: url(/images/photos/topo_contato.jpg);
}

.pageHeader .title {
    display: flex;
    justify-content: center;
    background-color: #A100F582;
    width: 250px;
    padding-right: 30px;
    border-radius: 0 0px 100px 0;
}

.pageHeader .title h1 {
    color: white;
}

.shopList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    background-color: #8f2dff2e;
}

.storie {
    width: 80%;
    margin: 50px auto;
}

.storieLeft {
    width: 60%;
    margin-bottom: -95px;
    margin-left: 8px;
}

.shopList .ulList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0;
}


.shopList .ulList li {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border: 1px solid #80808042;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    transition: all .1s ease-in-out;
}

.shopList .ulList.ulCinema li {
    height: initial;
}

.shopList .ulList li:hover {
    /* background-color: #ff8600a3; */
    box-shadow: 0 0 13px #00000073;
    transition: all .2s ease-in-out;
}

.shopList .ulList li a {
    color: black;
    transition: all .2s ease-in-out;
}
.shopList .ulList li a:hover {
    color: white;
    transition: all .2s ease-in-out;
}

.shopList  li.selected {
    background-color: #aa9e91a3;
    transition: all .2s ease-in-out;
}

.shop {
    position: relative;
    width: 90%;
    height: 90%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center; 
}

.posterContent {
    position: relative;
    margin: auto;
}

.posterContent .poster {
    width: 100%;
    border-radius: 15px;
}

.shopName {
    position: absolute;
    bottom: -22px;
    left: -12px;
    font-size: 1em;
    font-weight: bold;
    padding: 4px 15px;
    background-color: var(--second);
    border-radius: 15px 0 15px 15px;
    box-shadow: 0 0 5px #000000c2;
}



.shopList .ulList li button {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    border:none;
    padding: 5px;
    background-color: #ffffff00;
    height: 2.5em;
}

.nameList {
    justify-self: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dateList {
    position: absolute;
    margin-left: 10px;
    color: gray;
    font-size: .7em;
    right: 0;
    top: 0;
    padding-top: 2px;
}

.messages {
    padding-top: 17px;
    border-top: 1px solid;
}

.photos {
    width: 25%;
}



@media (min-width: 768px) {

    .shopList {
        
    }

    .messages {
        width: 62%;
        border-top: none;
        overflow: auto;
    }
    .shopList .ulList {
        padding-top: 5px;
        overflow: auto;
        max-height: initial;
    }

    .main {
        flex-direction: row;
        /* height: calc(100vh - 138px);
        overflow: auto; */
    }
}