
/* #A100F5 */
/* cores nubank */
/* #8E07C0 roxo*/
/* #E7718B rosa */

:root {
    --main: #A100F5;
    --second: #fc6681;
    --subtitle2: #fff;
    --btn-food: #ff9700;
    --btn-food-hover: #b66d00;
    --labelPoster: #f9a825;
    --bg-admin:#915cad;
    --bg-color: #FFF;
    --black: #000;
    --white: #FFF;
    --whiteDark: #FFFFFF8A;
    --red: #E32119;
    --yellow: #FFF100;
    --green: #00994D;
    --green-hover: #008744;
    --green-active: #00D169;
    --dark: #343433;
    --light: #F8F8F8;
    --header: #0000;
    --white50: #FFFFFF50;
    --black75: rgba(0, 0, 0, .75);
    --black50: rgba(0, 0, 0, .5);
    --black15: rgba(0, 0, 0, .15);
    --gray3: #333;
    --gray5: #555;
    --gray6: #666;
    --grayC: #CCC;
}

