.form .fields {
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    overflow: auto;
}

.alert {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.alert img {
    width: 50%;
    align-self: center;
    justify-self: center;
}
.alert h2 {
    color: var(--main);
}
.alert p {
    margin: 5px;
}
.alert span {
    font-weight: bold;
}

.alert a {
    text-decoration: none;
    color: var(--second);
}

.contatosContent{
    display: flex;
    flex-direction: column;
}
.headerContatos{
    display: flex;
    justify-content: flex-start;
    
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}
.headerContatos li{
    width: 100%;
}
.headerContatos li{
    flex: 1;
}
.headerContatos li:last-child{
    flex: 1;
}

.messageList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messageList .ulList {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    max-height: 150px;
    overflow: auto;
    margin: 0;
}

.messageList .ulList li {
    width: 100%;
    background-color: #dedede42;
    border: 1px solid #80808042;
    border-right: none;
    border-left: none;
    transition: all .1s ease-in-out;
}

.messageList .ulList li input {
    margin-right: 10px;
}

.messageList .ulList li:hover {
    background-color: #ff5050c4;
    box-shadow: 0 0 13px #00000073;
    transition: all .2s ease-in-out;
}

.messageList  li.selected {
    background-color: #aa9e91a3;
    transition: all .2s ease-in-out;
}

.messageList .ulList li button {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    border:none;
    padding: 5px;
    background-color: #ffffff00;
    height: 2.5em;
    outline: none;
}

.nameList {
    justify-self: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dateList {
    position: absolute;
    margin-left: 10px;
    color: gray;
    font-size: .7em;
    right: 10px;
    top: 0;
    padding-top: 2px;
}

.messages {
    position: relative;
    display: flex;
    flex:1;
    padding-top: 17px;
    border-top: 1px solid;
    /* max-height: calc(100vh - 200px); */
    overflow: auto;
}

.mainCard {
    position: absolute;
    width: 100%;
}

.photos {
    width: 90%;
    border-radius: 12px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h2 {
    margin: 0;
}
.header p {
    margin: 0;
}
.formPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formPost label {   
    display: flex;
    align-items: center;
    justify-content: center;
}

.formPost label.user {   
    margin-bottom: 10px;
}

.formPost label.user .avatar {   
    width: 100%;
    border-radius: 12px;
}

.avatar {
    width: 40%;
    cursor: pointer;
}

.field {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

.field label {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    transition: color .3s ease-in-out;
}

.field input {
    line-height: 1.5em;
    padding: 10px;
    padding-top: 30px;
    font-size: 14px;
    color: var(--main);
    outline: none;
    border: #da98fd 1px solid;
    border-radius: 12px 0;
    position: relative;
    z-index: 1;
    top: 0;
    transition: border-color .3s ease-in-out;
}

.field input:focus {
    border: var(--main) 2px solid !important;
    box-shadow: 0 0 5px var(--main);
}

.field input:focus + label {
    color: #5d5d5d;
}

.field input:-webkit-autofill,
.field input:-webkit-autofill:hover, 
.field input:-webkit-autofill:focus {
    border: 1px solid var(--main);
    -webkit-text-fill-color: var(--main);
    transition: background-color .3s ease-in-out 0s;
}

.divButton {
    margin-bottom: -24px;
    margin-right: 35px;
}


@media (min-width: 768px) {

    .messageList {
        width: 45%;
        max-width: 340px;
    }

    .messages {
        width: 62%;
        border-top: none;
        overflow: auto;
    }
    .messageList .ulList {
        padding-top: 5px;
        overflow: auto;
        max-height: initial;
    }

    .main {
        flex-direction: row;
        /* height: calc(100vh - 138px);
        overflow: auto; */
    }
}