.buttonAdmin{
    border: none;
    border-radius: 8px;
    max-width: 200px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: normal;
    background-color: var(--main);
    padding: 5px 18px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.buttonAdmin:hover{
    background-color: var(--second);
}