.card {
    position: relative;
    /* justify-content: space-between; */
    width: 100%;
    flex-direction: column;
    background-color: var(--white);
    margin-bottom: 30px;
}

.card form {
    flex-direction: column;
    padding: 1em;
    width: 100%;
    max-width: 800px;
}

.card-content {
    margin-top: 40px;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

.actions {
    justify-content: center;
    background-color: var(--grayF);
    width: 100%;
    /* padding-right: 40px; */
    /* margin-top: -20px; */
}

@media (min-width: 576px) {
    .card {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .card {
        max-width: 300px;
    }
    .card.large {
        width: 100%;
        max-width: initial;
        
    }
}

@media (min-width: 890px) {
    .card {
        max-width: 360px;
        /* border-radius: 12px;
        box-shadow: 0 0 8px #0000004f;
        margin: 7px auto; */
    }
    
}

@media (min-width: 1000px) {
    .card {
        max-width: 415px;
    }
    .small {
        width: 300px;
    }
}