.card {
    position: relative;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    background-color: var(--white);
}

.card-content {
    margin-top: 40px;
    padding: 10px 20px;
    align-items: center;
    flex-direction: column;
}

.actions {
    position: absolute;
    bottom: -10px;
    justify-content: flex-end;
    background-color: var(--grayF);
    width: 100%;
    padding: 10px;
    padding-right: 40px;
}



.actions button {
    border: none;
    background: var(--main);
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    border: 1px solid var(--main);
    border-radius: 12px;
    padding: 10px 16px;
}