.card {
    position: relative;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    background-color: var(--white);
    margin-bottom: 30px;
}

.card form {
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

.card-content {
    margin-top: 40px;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

.actions {
    justify-content: center;
    background-color: var(--grayF);
    width: 100%;
    /* padding-right: 40px; */
    /* margin-top: -20px; */
}


    