.messageCard {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 9px 0px #00000042;
}

.messageCard h2 {
    margin: 2px 0 7px 0;
    font-size: 1.2em;
}

.messageCard p {
    margin: 0;
    font-size: 1em;    
}


.messageCard a {
    text-decoration: none;
    color: #4a3d9b;
    font-weight: bold;
    transition: all .3s ;
}

.messageCard a:hover {
    color: #f15000;
    font-weight: bold;
    text-decoration: underline;
    transition: all .3s ;
}

.messageCard label {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    padding-right: 10px;
    color: var(--main);
}

.messageCard hr {
    width: 95%;
    height: 1px;
    background-color: #9a9a9a;
}

.messageCard .checkBox {
    box-sizing: border-box;
    padding: 0;
    height: 20px;
    width: 20px;
}
.messageCard .pMessage {
    padding: 15px;
    font-size: 1.2em;
}

.messageCard .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0;

}

.messageCard .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;

}

.messageCard Button {
    margin: 10px 0;
}

.field {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

.field label {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    transition: color .3s ease-in-out;
}

.field select {
    line-height: 1.5em;
    padding: 10px;
    padding-top: 30px;
    font-size: 14px;
    color: var(--main);
    outline: none;
    border: #da98fd 1px solid;
    border-radius: 12px 0;
    position: relative;
    z-index: 1;
    top: 0;
    transition: border-color .3s ease-in-out;
}


.field select:focus {
    border: var(--main) 2px solid !important;
    box-shadow: 0 0 5px var(--main);
}

.field select:focus + label {
    color: #5d5d5d;
}

.field select:-webkit-autofill,
.field select:-webkit-autofill:hover,
.field select:-webkit-autofill:focus {
    border: 1px solid var(--main);
    -webkit-text-fill-color: var(--main);
    transition: background-color .3s ease-in-out 0s;
}
