.containerAdmin{
    display: flex;
    max-height: 100vh;
}
.mainHeader{
    width: 50px;
    height: 100vh;
    background-color:var(--bg-admin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainHeader > a {
    text-align: center;
}

.mainAdmin{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50px);
}

.welcome {
    background-color: #f8d4fe;
}
.welcome p {
    padding: 0 10px;
}
.welcome span {
   font-weight: bold;
}

.welcomeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.welcomeMain img {
    width: 100%;
}
.welcomeMain h2 {
    margin: auto;
    color: var(--main);
    text-align: center;
    font-size: 1.8em;
}
.pageHeader {
    background-image: url('/images/photos/topo_contato.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 9px #00000087;
}


.pageHeader .title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A100F582;
    width: 200px;
    height: 50px;
    padding-right: 30px;
    border-radius: 0 0px 100px 0;
}

.pageHeader .title h1 {
    color: white;
    margin: 0;
}

.mainAdmin hr{
    width: 100%;
    height: 2px;
}
.logoAdmin img{
    width: 50px;
}
.logoAdmin {
    background-color: #f8d4ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navMenu{
    display: none;
}
.navMobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    flex: 1;
    color: white;
    align-items: center;  
}
.navMobile p {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
}
.navMobile  img{
    width: 30px;
}
.navMobile a img{
    margin-bottom: 15px;
}

.navMobile a:hover{
    cursor: pointer;
}

.navMenu p img{
    width: 100%;    
    margin-bottom: 10px;
    padding-bottom: 5%;
    text-align: center;
}




@media (min-width: 768px){
    .navMobile{
        display: none;
    }
    .openMenu{
        display: none;
    }
    .logoAdmin{
        text-align: center;
    } 
    .mainHeader{
        display: flex;
        flex-direction: column;
        background-color:var(--bg-admin);
        margin: 0;
        padding: 0;    
        width: 200px;
        height: 100vh;
        box-sizing: border-box;
    }
    .logoAdmin img{
        max-width: 80px;    
    }
    .navMenu{
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: 18px;
        height: 100%;
    }
    .navMenu p{
        color: white;
        font-weight: bold;
        display: block;
        width: 100%;
        text-transform: uppercase;
        border-bottom: 2px solid white;
        margin-bottom: 10px;
        padding-bottom: 5%;
        text-align: center;
    }
    .navMenu a{
        margin: 5px;
        padding: 5px;
        text-decoration: none;
        color: white;

    }
    .navMenu a {
        border: 3px solid rgba(255, 255, 255, 0);
    }
    .navMenu a:hover{
        cursor: pointer;
        font-weight: bold;
        border-bottom: 3px solid var(--second) ;
    }

    .logOut{
        text-align: center;
        font-weight: bold;
        padding: 20px;
        color: white;
        margin-bottom: 20px;
    }
    /*GALERIA ADMIN*/
    .containerAdmin ul {
        list-style: none;
    }
    .containerAdmin ul img {
        max-width: 100px;
    }
}